*.pyc
*.npy
*.log

*.jpg
!vision/tests/test_data/*.jpg
!docs/images/*.jpg
*.JPG
!vision/tests/test_data/*.JPG
!docs/images/*.JPG
*.png
!vision/tests/test_data/*.png
!docs/images/*.png
*.svg
!docs/images/*.svg

vision/tests/test_data/wing_area/cropped/*.csv

*.blend*

.DS_Store
docs/_build/*
